# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Embeddings (optional)
data/processed/embeddings/

# FAISS index (optional)
#data/vector_store/